.admin{
    margin: 0;
    background-color: #182527;
}
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/2148502993.jpg); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15; /* Adjust transparency */
    z-index: -1;
}
.navbar{
    background-color: #20cd8d;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
.admin-logo{
    width: 50px;
    margin-right: 10px;
  }
.navbar-right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
  }
.track-medicine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    position: relative;
  }
.track-container{
    background-color: #20cd8d;
    height: 300px;
    padding: 60px 20px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
.admin-h1{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    
  }
.admin-submit{
    align-items: center;
  }